<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/BigFix/BigFix_logo_DevSiteToOriginal_128px.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/github-light.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="/">@JGStew</a></h1>
        <p class="header"><a href="{% if page.url == '/' %}https://github.com/jgstew/jgstew.github.io{% else %}/{% endif %}">My random thoughts.</a></p>

        <ul>
          <li><a class="buttons github" href="https://github.com/jgstew/jgstew.github.io/blob/master/{{ page.path }}">Edit This Page</a></li>
          <li><a class="buttons github" href="https://github.com/jgstew">GitHub Profile</a></li>
	  <li><a class="buttons linkedin" href="https://www.linkedin.com/in/jgstew">LinkedIn Profile</a></li>
        </ul>
        <br/>
<a class="twitter-timeline" data-chrome="nofooter noborders noscrollbar" data-dnt="true" href="https://twitter.com/jgstew" data-widget-id="694687432948584448">Tweets by @jgstew</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </header>
      <section>
      	<h1>{{ page.title }}</h1>
        {{ content }}
      </section>
      <footer>
        <p><small>  </small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
          <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-5608346-7");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>
  </body>
</html>
